html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #fcfcfc;
  border-top: 5px solid #d80e0e; }

a {
  color: #333;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  a:hover, a:active {
    color: #777; }

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem; }

h2 {
  font-size: 2.5rem; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  height: auto;
  margin: 0;
  padding: 10px 30px;
  font-size: 1.1rem;
  line-height: 1.6;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.header {
  background: #222;
  min-height: 20px;
  text-align: right;
  font-size: 12px;
  color: #777; }

.header__balance {
  display: inline-block;
  margin: 0 2px;
  padding: 7px 10px 8px; }

.header__amount {
  font-size: 13px;
  color: #ccc; }

.footer {
  padding: 30px;
  text-align: center;
  border-top: 1px solid #f2f2f2; }

.footer__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 80%;
  font-size: 11px;
  color: #777; }

.hero {
  background: #333; }

.hero__inner {
  margin: 0 auto;
  padding: 12px;
  text-align: center; }

.hero__title {
  color: #eee; }

.hero__desc {
  margin: 0;
  color: #aaa;
  font-size: 13px; }

.current-rate {
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  text-align: center; }

.current-rate__title {
  text-align: center; }

.current-rate__price {
  max-width: 300px;
  width: 70%;
  margin: 5px auto 0;
  padding: 6px 15px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #2a2a2a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15); }

.current-rate__number {
  font-size: 32px;
  font-weight: 300;
  color: #f2f2f2; }

.bet {
  text-align: center;
  padding: 15px;
  background-color: #f8f8f8; }
  .bet fieldset {
    margin: 15px 0; }

.bet__title {
  font-size: 20px;
  margin: 0; }

.bet__info {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 0;
  margin-bottom: 2rem; }

.bet__option {
  display: inline-block;
  padding: 5px 30px 7px;
  margin: 2px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 3px;
  cursor: pointer;
  text-transform: none; }

.bet__name {
  display: block;
  font-size: 16px; }

.bet__odds {
  display: block;
  font-size: 10px;
  color: #666;
  font-weight: 300; }

.bet__radio {
  display: block;
  width: 0;
  top: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden; }

.bet__radio:checked + .bet__option {
  background-color: #222;
  color: white; }
  .bet__radio:checked + .bet__option .bet__odds {
    color: #aaa; }

.bet__stake {
  display: inline-block;
  width: 80px;
  margin: 0 4px 0 8px; }

.bet__max {
  font-size: 1rem;
  font-weight: 400; }

.bet__submit {
  display: inline-block; }

.bet__list {
  font-size: 16px;
  margin-bottom: 1.1rem; }

.bet__list--won {
  color: #539212; }

.bet__list--lost {
  color: #f44; }

.bet__replay {
  margin: 1.25rem 0; }

.progress {
  position: relative;
  margin: 2rem 0;
  border-bottom: 1px solid #ccc; }

.progress--active .progress__bar {
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  height: 8px;
  background-color: #d80e0e;
  -webkit-animation: timer 60s 1 linear;
          animation: timer 60s 1 linear; }

@-webkit-keyframes timer {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }

@keyframes timer {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
